/*===============================================*/
@font-face {
  font-family: 'digital-7_monoitalic';
  src: url("../fonts/digital-7_mono_italic-webfont.eot");
  src: url("../fonts/digital-7_mono_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/digital-7_mono_italic-webfont.woff2") format("woff2"), url("../fonts/digital-7_mono_italic-webfont.woff") format("woff"), url("../fonts/digital-7_mono_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url("../fonts/digital-7_mono-webfont.eot");
  src: url("../fonts/digital-7_mono-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/digital-7_mono-webfont.woff2") format("woff2"), url("../fonts/digital-7_mono-webfont.woff") format("woff"), url("../fonts/digital-7_mono-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_italicitalic';
  src: url("../fonts/digital-7_italic-webfont.eot");
  src: url("../fonts/digital-7_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/digital-7_italic-webfont.woff2") format("woff2"), url("../fonts/digital-7_italic-webfont.woff") format("woff"), url("../fonts/digital-7_italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7regular';
  src: url("../fonts/digital-7-webfont.eot");
  src: url("../fonts/digital-7-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/digital-7-webfont.woff2") format("woff2"), url("../fonts/digital-7-webfont.woff") format("woff"), url("../fonts/digital-7-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: Arial;
  width: 100%;
  min-height: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001d45+0,101529+100 */
  background: #001d45;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDE1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #001d45 0%, #101529 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001d45), color-stop(100%, #101529));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #001d45 0%, #101529 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #001d45 0%, #101529 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d45', endColorstr='#101529',GradientType=0 );
  /* IE6-8 */
}

.fixarea {
  position: fixed;
  width: 100%;
  height: 100%;
}

.right {
  position: fixed;
  right: 0;
  bottom: 0;
  border-left: 1px solid #00427e;
  width: 8%;
  height: 93.75%;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1c3852+100 */
  background: #1a1a1a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzM4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1a1a1a 0%, #1c3852 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1a1a1a), color-stop(100%, #1c3852));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1a1a1a 0%, #1c3852 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1a1a1a 0%, #1c3852 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1a1a1a 0%, #1c3852 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1a1a1a 0%, #1c3852 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1c3852',GradientType=1 );
  /* IE6-8 */
}

.left {
  position: fixed;
  left: 0;
  top: 0;
  width: 92%;
  height: 100%;
}

.bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
}

.bottom.home {
  height: 52.5%;
}

.bottom.home .left-section {
  position: absolute;
  width: 67%;
  height: 100%;
  border-right: 1px solid #00427e;
}

.bottom.home .right-section {
  position: absolute;
  width: 33%;
  height: 100%;
  left: 67%;
}

.bottom.building {
  height: 35%;
}

.bottom.building .left-section {
  position: absolute;
  width: 75%;
  height: 100%;
  border-right: 1px solid #00427e;
}

.bottom.building .left-section .content-frame {
  height: 78%;
  margin-top: 0;
  margin-bottom: 0;
}

.bottom.building .right-section {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 75%;
}

.bottom.building .right-section .content-frame {
  height: 78%;
  margin-top: 0;
  margin-bottom: 0;
}

.middle {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001d45+0,101529+100 */
  background: #001d45;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDE1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #001d45 0%, #101529 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001d45), color-stop(100%, #101529));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #001d45 0%, #101529 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #001d45 0%, #101529 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d45', endColorstr='#101529',GradientType=0 );
  /* IE6-8 */
}

.middle.homeplan {
  top: 6.25%;
  height: 41.25%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.middle.building {
  top: 13%;
  height: 52%;
}

header {
  width: 100%;
  height: 6.25%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #101b33;
  z-index: 1;
  border-bottom: 1px solid #00427e;
}

header .systemname {
  text-align: center;
}

header .memberzone {
  height: 6.25%;
  overflow: hidden;
  position: relative;
  background-color: #003555;
  padding-right: 0px;
  display: table;
}

header .memberzone .trail {
  float: right;
  height: 100%;
  width: auto;
}

header .memberzone table tr td {
  padding: 0 5px;
  vertical-align: middle;
}

header .memberzone table tr td.user {
  color: #6cc0f4;
}

header .memberzone table tr td.user span {
  color: #b3b3b3;
}

header .memberzone table tr td.button button {
  border: none;
  background: none;
}

header .memberzone table tr td.button .icon {
  color: #b3b3b3;
  font-size: 20px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header .memberzone table tr td.button .icon:hover {
  color: #72e80c;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

header .corpname {
  position: relative;
  padding-left: 0;
  background-color: #003555;
}

.top-tab {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 6.25%;
  overflow: hidden;
  border-bottom: 1px solid #00427e;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1c3852+100 */
  background: #1a1a1a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzM4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(100%, #1c3852));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1a1a1a 0%, #1c3852 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1c3852',GradientType=0 );
  /* IE6-8 */
}

.top-tab ul {
  list-style: none;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 5px;
}

.top-tab ul li {
  float: left;
  padding-left: 2px;
  padding-right: 2px;
  opacity: 0.6;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.top-tab ul li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

.top-tab ul li a .status {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3.5px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #00ff00;
}

.top-tab ul li a .status.abnormal {
  background-color: #ff0000;
}

.top-tab ul li.active {
  opacity: 1;
}

.top-tab ul li:hover {
  opacity: 1;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.contents {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
}

.contents .content-child {
  display: none;
}

.contents .content-child:first-child {
  display: block;
}

.right-tab ul {
  list-style: none;
  margin: 0;
  float: right;
}

.right-tab ul li {
  display: block;
  opacity: 0.6;
  float: right;
  max-width: 96px;
  margin-top: 5px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.right-tab ul li a {
  position: relative;
  display: block;
  text-decoration: none;
  color: #6cc0f4;
  font-size: 12px;
}

.right-tab ul li a .top-bg {
  display: block;
  clear: both;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.right-tab ul li a .top-bg img {
  width: 100%;
  height: auto;
}

.right-tab ul li a .status {
  position: absolute;
  right: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: #0b76ab;
}

.right-tab ul li a .text {
  width: 100%;
  padding: 0px 8px 10px 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d3a54+0,1b3969+100 */
  background: #1d3a54;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkM2E1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjM5NjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1d3a54 0%, #1b3969 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1d3a54), color-stop(100%, #1b3969));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1d3a54 0%, #1b3969 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1d3a54 0%, #1b3969 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1d3a54 0%, #1b3969 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1d3a54 0%, #1b3969 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3a54', endColorstr='#1b3969',GradientType=1 );
  /* IE6-8 */
}

.right-tab ul li.active {
  opacity: 1;
}

.right-tab ul li.active a .status {
  background-color: #54f02e;
}

.right-tab ul li:hover {
  opacity: 1;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.bottombar {
  position: relative;
  width: 100%;
  height: 50px;
  border-top: 1px solid #00427e;
  border-bottom: 1px solid #00427e;
  padding-left: 5px;
  padding-right: 5px;
  display: table;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1c3852+100 */
  background: #1a1a1a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzM4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1a1a1a), color-stop(100%, #1c3852));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1a1a1a 0%, #1c3852 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1a1a1a 0%, #1c3852 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1c3852',GradientType=0 );
  /* IE6-8 */
}

.bottombar > span {
  display: table-cell;
  vertical-align: bottom;
}

.bottombar .title-bar {
  width: 100%;
  height: 35px;
  padding-left: 10px;
  position: relative;
}

.bottombar .title-bar .trail {
  height: 35px;
  width: 10px;
  background-image: url(../images/tabtrail.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.bottombar .title-bar .title-text {
  width: 100%;
  height: 35px;
  display: inline;
  float: left;
  background-color: #00427e;
  display: table;
  color: #6cc0f4;
  font-size: 12px;
}

.bottombar .title-bar .title-text > span {
  display: table-cell;
  vertical-align: middle;
}

.bottombar .systemtime {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
}

.systemtime {
  color: #54f02e;
}

.line-top {
  width: 100%;
  border-top: 1px solid #00427e;
  height: 5px;
  display: block;
  clear: both;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.line-top:before {
  content: "";
  padding-left: 6px;
  padding-top: 5px;
  background-repeat: no-repeat;
  background-image: url(../images/customborder/top-left.png);
}

.line-top:after {
  content: "";
  padding-left: 6px;
  padding-top: 5px;
  float: right;
  margin-top: -2.5px;
  background-repeat: no-repeat;
  background-image: url(../images/customborder/top-right.png);
}

.line-bottom {
  width: 100%;
  border-top: 1px solid #00427e;
  height: 5px;
  display: block;
  clear: both;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.line-bottom:before {
  content: "";
  padding-left: 6px;
  padding-top: 5px;
  background-repeat: no-repeat;
  background-image: url(../images/customborder/bottom-left.png);
}

.line-bottom:after {
  content: "";
  padding-left: 6px;
  padding-top: 5px;
  float: right;
  margin-top: -2.5px;
  background-repeat: no-repeat;
  background-image: url(../images/customborder/bottom-right.png);
}

.content-area {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 87%;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
}

.content-frame {
  overflow: hidden;
  height: 85%;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  position: relative;
}

.content-frame .table-list {
  position: absolute;
  width: 102%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  overflow: auto;
}

.status-tb {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.status-tb tr th {
  color: #6cc0f4;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c3852+0,1a1a1a+100 */
  background: #1c3852;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMzg1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c3852), color-stop(100%, #1a1a1a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c3852 0%, #1a1a1a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3852', endColorstr='#1a1a1a',GradientType=0 );
  /* IE6-8 */
}

.status-tb tr th .status-ball {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3.5px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #00ff00;
}

.status-tb tr td {
  background-color: #3a53a6;
  color: #6cc0f4;
  font-size: 12px;
  padding: 3px 10px;
}

.status-tb tr:nth-child(even) td {
  background-color: #22347d;
}

.status-tb.abnormal tr th .status-ball {
  background-color: #ff0000;
}

.m-status {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.log {
  list-style: none;
}

.log li {
  font-size: 11px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #00ff00;
}

.log li.abnormal {
  color: white;
  background-color: #ff0000;
}

.floorplan .floorplan-child {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left top;
}

.floorplan .floorplan-child.expand {
  overflow: visible;
}

.floorplan .floorplan-child.active {
  display: block;
}

.floorplan .floorplan-child .plan {
  position: absolute;
  /*
			height: 100%;
			width: auto;
			left: 0;
			top:0;
			*/
  z-index: 1;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.floorplan .floorplan-child .tb-panel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 190px;
}

.floorplan .floorplan-child .tb-panel.active {
  z-index: 11;
}

.floorplan .floorplan-child .tb-panel .tb-panel-btn {
  height: 31px;
  position: relative;
  color: #6cc0f4;
  font-size: 12px;
  padding-left: 10px;
  line-height: 31px;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c3852+0,1a1a1a+100 */
  background: #1c3852;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMzg1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c3852), color-stop(100%, #1a1a1a));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1c3852 0%, #1a1a1a 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1c3852 0%, #1a1a1a 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3852', endColorstr='#1a1a1a',GradientType=0 );
  /* IE6-8 */
}

.floorplan .floorplan-child .tb-panel .tb-panel-btn .status {
  width: 7px;
  height: 7px;
  background-color: #00ff00;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  margin-top: -3.5px;
  right: 30px;
}

.floorplan .floorplan-child .tb-panel .tb-panel-btn .arrow {
  width: 8px;
  height: 6px;
  background-image: url(../images/panelarrow.png);
  background-repeat: no-repeat;
  background-position: left top;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: 10px;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body {
  display: none;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body table {
  width: 100%;
  border-collapse: separate;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body table tr td {
  background-color: #3a53a6;
  color: #6cc0f4;
  font-size: 12px;
  padding: 3px 10px;
  border-width: 1px;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body table tr td:first-child {
  border-right: 1px solid white;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body table tr:nth-child(even) td {
  background-color: #22347d;
}

.floorplan .floorplan-child .tb-panel .tb-panel-body table tr.abnormal td {
  background-color: #ff0000;
  color: white;
}

.floorplan .floorplan-child .tb-panel.abnormal .tb-panel-btn .status {
  background-color: #ff0000;
}

.hor-tab {
  position: absolute;
  left: 0;
  bottom: 0;
}

.hor-tab ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hor-tab ul li {
  float: left;
  opacity: 0.6;
  margin-left: 3px;
  margin-right: 3px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.hor-tab ul li a {
  position: relative;
  padding-left: 10px;
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: #6cc0f4;
}

.hor-tab ul li a .btntrail {
  background-image: url(../images/tabtrail.png);
  width: 10px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
}

.hor-tab ul li a .menutext {
  width: 100%;
  line-height: 35px;
  background-color: #00427e;
  padding-right: 20px;
}

.hor-tab ul li a .menutext .status {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #00ff00;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3.5px;
}

.hor-tab ul li:hover {
  opacity: 1;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.hor-tab ul li.active {
  opacity: 1;
}

.status-all .status-child {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.status-all .status-child.active {
  display: block;
}

.graph-row {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: right;
}

.graph-row .graph-child {
  display: inline-block;
  position: relative;
  width: auto;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
  border-right: 1px solid #00427e;
}

.graph-row .graph-child:last-child {
  border-right: none;
}

.graph-row .graph-child .pivot-name {
  text-align: center;
  font-size: 12px;
  color: #6cc0f4;
  display: block;
  margin-bottom: 3px;
  padding-left: 20px;
}

.graph-row .graph-child .graph-body {
  position: relative;
  bottom: 0;
  height: 85%;
  display: inline;
  float: left;
  text-align: center;
  color: #6cc0f4;
  font-size: 9px;
  padding-left: 1px;
  padding-right: 1px;
}

.graph-row .graph-child .graph-body.hasscale {
  padding-left: 15px;
}

.graph-row .graph-child .graph-body.hasscale.smallscale {
  padding-left: 12px;
}

.graph-row .graph-child .graph-body.hasscale.bigscale {
  padding-left: 34px;
}

.graph-row .graph-child .graph-body .graph-frame {
  position: relative;
  margin: auto;
  height: 80%;
  width: 10px;
  margin-bottom: 3px;
  border: 1px solid #6cc0f4;
}

.graph-row .graph-child .graph-body .graph-frame .graph-amount {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  overflow: hidden;
  height: 30%;
}

.graph-row .graph-child .graph-body .graph-frame .scale {
  position: absolute;
  right: 9px;
  top: 0;
  height: 100%;
}

.graph-row .graph-child .graph-body .graph-frame .scale div.unit {
  font-size: 10px;
  position: absolute;
  top: -18px;
  right: 0;
  text-align: right;
  padding-right: 10px;
}

.graph-row .graph-child .graph-body .graph-frame .scale div.scale-grid {
  min-width: 8px;
  text-align: right;
  background-image: url(../images/scaleline.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  height: 20%;
  line-height: 100%;
  font-size: 9px;
  position: relative;
}

.graph-row .graph-child .graph-body .graph-frame .scale div.scale-grid span {
  position: absolute;
  top: 0;
  margin-top: -4px;
  right: 10px;
}

.graph-row .graph-child .graph-body .amount {
  font-size: 11px;
  color: #00ff00;
}

.graph-row .graph-child .graph-body .amount.abnormal {
  color: #ff0000;
}

.graph-row .graph-child .graph-body.abnormal .amount {
  color: #ff0000;
}

.graph-row .graph-child .graph-body.temp .graph-frame .scale div.scale-grid {
  height: 25%;
}

.graph-row .graph-child .graph-body.lox .graph-amount {
  background-color: #008102;
}

.graph-row .graph-child .graph-body.o2 .graph-amount {
  background-color: #008102;
}

.graph-row .graph-child .graph-body.nos .graph-amount {
  background-color: #0202f8;
}

.graph-row .graph-child .graph-body.co2 .graph-amount {
  background-color: #c0c0c0;
}

.graph-row .graph-child .graph-body.sur .graph-amount {
  background-color: #fb0103;
}

.graph-row .graph-child .graph-body.med .graph-amount {
  background-color: #f8f804;
}

.graph-row .graph-child .graph-body.vac .graph-amount {
  background-color: #fffeff;
}

.graph-row .graph-child .graph-body.evac .graph-amount {
  background-color: #fffeff;
}

.graph-row .rate {
  position: absolute;
  width: 100%;
  height: 68%;
  top: 23%;
}

.graph-row .rate > div {
  position: absolute;
  width: 100%;
  text-align: left;
  font-size: 11px;
  color: #6cc0f4;
  padding-top: 2px;
  padding-left: 2px;
}

.graph-row .rate > div.height {
  top: 0;
  height: 22.7%;
  background-color: #551d1d;
}

.graph-row .rate > div.normal {
  top: 22.7%;
  height: 37.3%;
  background-color: #334626;
}

.graph-row .rate > div.low {
  top: 60%;
  height: 40%;
  background-color: #551d1d;
}

.tempgraph {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.tempgraph .pivot-name {
  padding-left: 0;
}

.tempgraph .tempscale {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.tempgraph .tempscale > div {
  position: absolute;
  width: 100%;
}

.tempgraph .tempscale > div.height {
  background-color: #ff0000;
  height: 25%;
  top: 0;
}

.tempgraph .tempscale > div.normal {
  background-color: #ffff00;
  height: 50%;
  top: 25%;
}

.tempgraph .tempscale > div.low {
  background-color: #00ff00;
  height: 25%;
  top: 75%;
}

.hour .graph-row .graph-child {
  width: 24%;
}

.hour .graph-row .graph-child .pivot-name {
  padding: 0;
}

.hour .status-tb {
  border-collapse: collapse;
  border: none;
  margin-top: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.hour .status-tb tr td {
  background-color: #22347d;
  color: #6cc0f4;
  font-size: 11px;
  padding: 1px 10px;
  vertical-align: top;
  height: 32px;
  position: relative;
}

.hour .status-tb tr td:first-child {
  padding-right: 15px;
}

.hour .status-tb tr td .status {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #0b76ab;
  right: 0px;
  top: 15%;
  position: absolute;
}

.hour .status-tb tr td ul {
  list-style: none;
  display: block;
  width: 100%;
  color: white;
  margin: 0;
  padding: 0;
}

.hour .status-tb tr td.active .status {
  background-color: #54f02e;
}

.hour .status-tb tr:nth-child(even) td {
  background-color: #3a53a6;
}

.hour .pump-sw {
  text-align: center;
  font-size: 10px;
  color: #6cc0f4;
}

.hour .pump-sw span.active {
  color: white;
}

.gasflow .graph-row .graph-child {
  padding-left: 1%;
  padding-right: 1%;
}

.gasflow .graph-row .graph-child .pivot-name {
  padding-left: 0;
}

.tank {
  display: inline;
  float: left;
  position: relative;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.tank .remaining-box {
  background-color: #00427e;
  padding: 3px 5px;
}

.tank .remaining-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tank .remaining-box ul li {
  width: 100%;
  text-align: center;
  font-size: 9px;
  color: white;
}

.tank .tankname {
  text-align: center;
  color: white;
  font-size: 11px;
  width: 100%;
  display: block;
}

.tank .tankgraph {
  display: inline-block;
  clear: both;
  position: relative;
}

.tank .tankgraph img {
  position: relative;
  z-index: 2;
}

.tank .tankgraph .tank-amounth {
  position: absolute;
  width: 24px;
  height: 43px;
  left: 5px;
  bottom: 6px;
  z-index: 1;
}

.tank .tankgraph .tank-amounth .tank-amounth-rate {
  background-color: #2a9fe7;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

.tank .remaining {
  font-size: 12px;
  color: #00ff00;
  display: block;
  clear: both;
}

.tank .remaining-text {
  text-align: center;
  color: #00ff00;
  font-size: 20px;
  font-family: 'digital-7_italicitalic';
  line-height: 20px;
}

.tb-gas {
  border-collapse: separate;
  border-spacing: 3px;
}

.tb-gas tr td {
  color: white;
  font-size: 11px;
  border-width: 2px;
  vertical-align: middle;
}

.tb-gas tr td table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.tb-gas .num {
  border: 1px solid #6cc0f4;
  vertical-align: middle;
  text-align: center;
  color: #00ff00;
  padding-left: 5px;
  padding-right: 5px;
}

.tb-gas .num.led {
  font-family: 'digital-7_italicitalic';
  font-size: 25px;
  text-align: right;
}

.report-panel {
  z-index: 10;
  position: fixed;
  top: 0;
  background-color: #1a1a2a;
  height: 100%;
  width: 92%;
  border-right: 1px solid #00427e;
  right: 100%;
}

.report-panel .report-btn {
  position: absolute;
  right: -35px;
  top: 15%;
}

.report-panel .report-frame {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.report-panel .report-frame .report-scroll {
  position: absolute;
  width: 102%;
  height: 100%;
  overflow: auto;
  padding-bottom: 100px;
}

.report-panel .report-title {
  width: 100%;
  border-bottom: 3px solid #b3b3b3;
  background-color: #2594e9;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f71c2+0,1a3e66+100 */
  background: #1f71c2;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFmNzFjMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTNlNjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, #1f71c2 0%, #1a3e66 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #1f71c2), color-stop(100%, #1a3e66));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #1f71c2 0%, #1a3e66 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #1f71c2 0%, #1a3e66 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #1f71c2 0%, #1a3e66 100%);
  /* IE10+ */
  background: linear-gradient(to right, #1f71c2 0%, #1a3e66 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f71c2', endColorstr='#1a3e66',GradientType=1 );
  /* IE6-8 */
}

.report-panel .report-title h1 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.report-panel .report-control {
  border-bottom: 3px solid #b3b3b3;
  background-color: #9ecdff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c314a+0,4b7d9c+100 */
  background: #2c314a;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMzE0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YjdkOWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #2c314a 0%, #4b7d9c 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c314a), color-stop(100%, #4b7d9c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2c314a 0%, #4b7d9c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2c314a 0%, #4b7d9c 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2c314a 0%, #4b7d9c 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2c314a 0%, #4b7d9c 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c314a', endColorstr='#4b7d9c',GradientType=0 );
  /* IE6-8 */
}

.report-panel .report-control:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.report-panel .report-control .form-group {
  padding-top: 10px;
  padding-bottom: 10x;
  display: inline;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.report-panel .report-control .form-group label {
  color: #6ebeff;
  font-size: 14px;
  font-weight: normal;
  margin-right: 5px;
}

.report-panel .report-body {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.report-panel .report-ref {
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0071bc;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.report-panel .report-ref span {
  color: #6ebeff;
  font-size: 14px;
}

.report-panel .table-frame {
  padding: 10px;
  border: 1px solid #00427e;
  margin-top: 10px;
  margin-bottom: 10px;
}

.report-panel button {
  background-color: #29abe2;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 14px;
}

.report-panel button .icon {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

.report-panel select {
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: none;
  appearance: button;
  background-image: url(../images/selectarrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-position-x: 95%;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 25px;
  -moz-padding-end: 25px;
  -webkit-padding-start: 15px;
  -moz-padding-start: 15px;
}

.report-panel .btn-group {
  width: 100%;
  text-align: right;
}

.report-tb {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1px;
}

.report-tb tr th {
  color: #6cc0f4;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
  position: relative;
  background-color: #0071bc;
  text-align: center;
  color: white;
}

.report-tb tr td {
  background-color: #3a53a6;
  color: white;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  vertical-align: center;
  text-align: center;
}

.report-tb tr td.gab {
  background-color: #b3b3b3 !important;
  height: 5px;
}

.report-tb tr:nth-child(even) td {
  background-color: #22347d;
}

.report-tb.abnormal tr th .status-ball {
  background-color: #ff0000;
}

.report-tb.noborder {
  border-collapse: collapse;
}

.title-tb {
  background-color: #b3b3b3 !important;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  color: #1a1a1a;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.testbtn {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  display: block;
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -32.5px;
  background-image: url(../images/testbtn.png);
  background-position: 0 0;
}

.testbtn:hover {
  background-position: 0 65px;
}

.login {
  background-image: url(../images/homebg.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.login-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.login-wrapper > span {
  padding-left: 80px;
  padding-right: 80px;
  display: table-cell;
  vertical-align: middle;
}

.login-img {
  display: inline;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
}

.login-panel {
  display: inline;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 347px;
  height: 386px;
}

.login-panel .form {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 30px;
  top: 20px;
}

.login-panel .form table {
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.login-panel .form table tr th {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #6cc0f4;
  text-align: center;
  padding-bottom: 20px;
}

.login-panel .form table tr td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.login-panel .form table tr td input[type="text"], .login-panel .form table tr td input[type="password"] {
  background-color: #cccccc;
  font-size: 12px;
}

.login-panel .form button {
  background: none;
  border: none;
}

.prehostpital {
  position: relative;
  z-index: 999;
}

.prehostpital table {
  width: 100%;
}

.prehostpital table tr td.vergap {
  background-image: url(../images/verticalgap.jpg);
  width: 9px;
}

.prehostpital table tr td.horgap {
  background-image: url(../images/horgap.jpg);
  height: 9px;
}

.iems {
  position: fixed;
  left: 0;
  top: 13%;
  width: 92%;
  height: 87%;
  overflow: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001d45+0,101529+100 */
  background: #001d45;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDE1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #001d45 0%, #101529 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #001d45), color-stop(100%, #101529));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #001d45 0%, #101529 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #001d45 0%, #101529 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #001d45 0%, #101529 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d45', endColorstr='#101529',GradientType=0 );
  /* IE6-8 */
  z-index: 10;
}

.iems .tb-frame {
  position: absolute;
  top: 15%;
  width: 102%;
  height: 85%;
  overflow: auto;
}

.iems .main-iems {
  width: 90%;
  margin: auto;
}

.iems .main-iems > tbody > tr > td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #00427e;
}

.iems .main-iems > tbody > tr > td .pa {
  border: 1px solid #00427e;
}

.iems .main-iems > tbody > tr > td .pa table {
  width: 100%;
}

.iems .main-iems > tbody > tr > td .pa table tr th {
  background-color: #032f5e;
  font-size: 12px;
  color: #6cc0f4;
  padding: 3px;
}

.iems .main-iems > tbody > tr > td .pa table tr td {
  text-align: left;
  padding: 0px 3px;
  color: #6cc0f4;
  font-size: 12px;
  line-height: 14px;
}

.iems .main-iems > tbody > tr > td .pa table tr:nth-child(2) td {
  padding: 5px 3px 0px 3px;
}

.iems .main-iems > tbody > tr > td .pa table tr:last-child td {
  padding: 0px 3px 5px 3px;
}

.iems .main-iems > tbody > tr > td.arrow button {
  background: none;
  border: none;
  height: 23px;
  width: 37px;
  background-image: url(../images/arrow.png);
  background-position: 0 23px;
}

.iems .main-iems > tbody > tr > td.arrow button.active {
  background-position: 0 23px;
}

.iems .main-iems > tbody > tr > td.arrow button:hover {
  background-position: 0 0px;
}

.iems .main-iems > tbody > tr > td:first-child, .iems .main-iems > tbody > tr > td:nth-child(3), .iems .main-iems > tbody > tr > td:nth-child(5) {
  width: 28.33%;
}

.iems .main-iems > tbody > tr > td:nth-child(2), .iems .main-iems > tbody > tr > td:nth-child(4) {
  width: 8%;
}

.iems .main-iems > tbody > tr > th {
  color: #6cc0f4;
  text-align: center;
  padding-top: 30px;
}

.iems .main-iems > tbody > tr > th:first-child, .iems .main-iems > tbody > tr > th:nth-child(3), .iems .main-iems > tbody > tr > th:nth-child(5) {
  width: 28.33%;
}

.iems .main-iems > tbody > tr > th:nth-child(2), .iems .main-iems > tbody > tr > th:nth-child(4) {
  width: 8%;
}

.iems .main-iems > tbody > tr:last-child td {
  border-bottom: none;
}

button {
  cursor: pointer;
}

.amb-report .report-tb {
  /* border-collapse: collapse; */
}

.amb-report .report-tb tr td {
  text-align: left;
  vertical-align: middle;
  padding-left: 3px;
  padding-right: 3px;
}

.amb-report .report-tb tr td input[type="text"], .amb-report .report-tb tr td input[type="date"], .amb-report .report-tb tr td input[type="time"] {
  width: 100%;
  border-radius: 3px;
  min-width: 100px;
  color: black;
  padding: 3px 5px;
  border: none;
}

.amb-report .report-tb tr td input[type="text"].small, .amb-report .report-tb tr td input[type="date"].small, .amb-report .report-tb tr td input[type="time"].small {
  max-width: 60px;
  min-width: min-intrinsic;
}

.amb-report .report-tb tr td label {
  max-width: none;
  margin-bottom: 0;
  padding-left: 2px;
  padding-right: 2px;
}

.amb-report .report-tb tr td table {
  width: 100%;
}

.amb-report .report-tb tr td table.pa-option {
  width: 100%;
}

.registor h2 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  color: white;
}

.registor .form {
  margin-top: 30px;
}

.registor .form table {
  width: 100%;
}

.registor .form table tr th {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: #6cc0f4;
  text-align: center;
}

.registor .form table tr td {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.registor .form table tr td input[type="text"], .registor .form table tr td input[type="password"] {
  background-color: #cccccc;
  font-size: 12px;
}

.registor .form button {
  background: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #6cc0f4;
  min-width: 80px;
}

.registor .form button.register {
  background-color: #72d040;
  margin-left: 5px;
  margin-right: 5px;
}

.registor .form button.cancel {
  background-color: red;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.registor .form button:hover {
  background-color: #6cc0f4;
  color: black;
}
