$normal:#00ff00;
$abnormal:#ff0000;
$border:#00427e;
$active:#54f02e;
$nonactive:#0b76ab;
$lightblue:#6cc0f4;
$fnormal:12px;
$even:#22347d;
$ood:#3a53a6;
$reportborder:#b3b3b3;

$lox:#008102;
$nos:#0202f8;
$co2:#c0c0c0;
$med:#f8f804;
$sur:#fb0103;
$vac:#fffeff;

@mixin clear{
	&:after{
		content: "";
		clear: both;
		display: block;
		visibility: hidden;
	}
}
@mixin ts{
	-moz-transition: all 0.1s ease-in;
	-webkit-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
}
@mixin menubar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1c3852+100 */
background: #1a1a1a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzM4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1a1a1a 0%, #1c3852 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#1c3852)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1a1a1a 0%,#1c3852 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1a1a1a 0%,#1c3852 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1a1a1a 0%,#1c3852 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1a1a1a 0%,#1c3852 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1c3852',GradientType=0 ); /* IE6-8 */

}
@mixin mainbg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#001d45+0,101529+100 */
background: #001d45; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMWQ0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDE1MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #001d45 0%, #101529 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001d45), color-stop(100%,#101529)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #001d45 0%,#101529 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #001d45 0%,#101529 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #001d45 0%,#101529 100%); /* IE10+ */
background: linear-gradient(to bottom,  #001d45 0%,#101529 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d45', endColorstr='#101529',GradientType=0 ); /* IE6-8 */

}


/*===============================================*/

@font-face {
    font-family: 'digital-7_monoitalic';
    src: url('../fonts/digital-7_mono_italic-webfont.eot');
    src: url('../fonts/digital-7_mono_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_mono_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono_italic-webfont.woff') format('woff'),
         url('../fonts/digital-7_mono_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7_monomono';
    src: url('../fonts/digital-7_mono-webfont.eot');
    src: url('../fonts/digital-7_mono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_mono-webfont.woff') format('woff'),
         url('../fonts/digital-7_mono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7_italicitalic';
    src: url('../fonts/digital-7_italic-webfont.eot');
    src: url('../fonts/digital-7_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7_italic-webfont.woff2') format('woff2'),
         url('../fonts/digital-7_italic-webfont.woff') format('woff'),
         url('../fonts/digital-7_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'digital-7regular';
    src: url('../fonts/digital-7-webfont.eot');
    src: url('../fonts/digital-7-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-webfont.woff2') format('woff2'),
         url('../fonts/digital-7-webfont.woff') format('woff'),
         url('../fonts/digital-7-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{
	margin: 0;
	padding: 0;
}
html{
	@include mainbg;
}
body{
	width: 100%;
	height: 100%;
	font-family: Arial;
}
.fixarea{
	position: fixed;
	width: 100%;
	height: 100%;
}
.right{
	position: fixed;
	right: 0;
	bottom:0;
	border-left: 1px solid $border;
	width: 8%;
	height: 93.75%;
	overflow: hidden;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1a1a1a+0,1c3852+100 */
background: #1a1a1a; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzM4NTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #1a1a1a 0%, #1c3852 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1a1a1a), color-stop(100%,#1c3852)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1a1a1a 0%,#1c3852 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1a1a1a 0%,#1c3852 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1a1a1a 0%,#1c3852 100%); /* IE10+ */
background: linear-gradient(to right,  #1a1a1a 0%,#1c3852 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#1c3852',GradientType=1 ); /* IE6-8 */


	
	
}
.left{
	position: fixed;
	left: 0;
	top:0;
	width: 92%;
	height: 100%;
}
.bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 	100%;
	height: 30%;
	&.home{
		height: 52.5%;
		.left-section{
			position: absolute;
			width: 67%;
			height: 100%;
			border-right: 1px solid $border;
		}
		.right-section{
			position: absolute;
			width: 33%;
			height: 100%;
			left: 67%;
		}
	}
	&.building{
		height: 35%;
		.left-section{
			position: absolute;
			width: 75%;
			height: 100%;
			border-right: 1px solid $border;
			.content-frame{
				height: 78%;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.right-section{
			position: absolute;
			width: 25%;
			height: 100%;
			left: 75%;
			.content-frame{
				height: 78%;
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}
}
.middle{
	position: absolute;
	top:50px;
	left: 0;
	width: 100%;
	&.homeplan{
		top:6.25%;
		height: 41.25%;
		background-repeat: no-repeat;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
	}
	&.building{
		top:13%;
		height: 52%;
		
	}
}
header{
	width: 100%;
	height: 6.25%;
	overflow: hidden;
	position: absolute;
	top:0;
	left: 0;
	background-color: #101b33;
	z-index: 1;
	border-bottom: 1px solid $border;
	.systemname{
		text-align: center;
	}
	.memberzone{
		height: 6.25%;
		overflow: hidden;
		position: relative;
		background-color: #003555;
		padding-right: 0px;
		display: table;
		.trail{
			float: right;
			height: 100%;
			width: auto;
		}
		table{
			tr{
				td{
					padding: 0 5px;
					vertical-align: middle;
					&.user{
						color: #6cc0f4;
						span{
							color: #b3b3b3;
						}
					}
					&.button{
						button{
							border:none;
							background:none;
						}
						.icon{
							color: #b3b3b3;
							font-size: 20px;
							@include ts;
							&:hover{
								color: #72e80c;
								@include ts;
							}
						}
					}
				}
			}
		}
	}
	.corpname{
		position: relative;
		padding-left: 0;
		background-color: #003555;
	}
}
.top-tab{
	position: absolute;
	width: 100%;
	height: 50px;
	top:6.25%;
	overflow: hidden;
	border-bottom: 1px solid $border;
	@include menubar;
	ul{
		list-style: none;
		margin: 0;
		position: absolute;
		bottom: 0;
		left: 5px;
		li{
			float: left;
			padding-left: 2px;
			padding-right: 2px;
			opacity: 0.6;
			@include ts;
			a{
				display: block;
				width: 100%;
				height: 100%;
				position: relative;
				.status{
					position: absolute;
					right: 10px;
					top:50%;
					margin-top: -3.5px;
					width: 7px;
					height: 7px;
					border-radius: 100%;
					background-color: $normal;
					&.abnormal{
						background-color: $abnormal;
					}
				}
			}
			&.active{
				opacity: 1;
			}
			&:hover{
				opacity: 1;
				@include ts;
			}
		}
	}
}
.contents{
	position: absolute;
	left: 0;
	top:15%;
	width: 100%;
	.content-child{
		display: none;
		&:first-child{
			display: block;
		}
	}
}
.right-tab{
	ul{
		list-style: none;
		margin: 0;
		float: right;
		li{
			display: block;
			opacity: 0.6;
			float: right;
			max-width: 96px;
			margin-top: 5px;
			@include ts;
			a{
				position: relative;
				display: block;
				text-decoration: none;
				color: $lightblue;
				font-size: 12px;
				.top-bg{
					display: block;
					clear: both;
					width: 100%;
					margin: 0;
					padding: 0;
					line-height: 0;
					img{
						width: 100%;
						height: auto;	
					}
				}
				.status{
					position: absolute;
					right: 0;
					top:0;
					width: 8px;
					height: 100%;
					background-color: $nonactive;
				}
				.text{
					width: 100%;
					padding: 0px 8px 10px 5px;
					
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d3a54+0,1b3969+100 */
background: #1d3a54; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkM2E1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjM5NjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #1d3a54 0%, #1b3969 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d3a54), color-stop(100%,#1b3969)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #1d3a54 0%,#1b3969 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #1d3a54 0%,#1b3969 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #1d3a54 0%,#1b3969 100%); /* IE10+ */
background: linear-gradient(to right,  #1d3a54 0%,#1b3969 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3a54', endColorstr='#1b3969',GradientType=1 ); /* IE6-8 */

				}
			}
			&.active{
				opacity: 1;
				a{
					.status{
						background-color: $active;
					}
				}
			}
			&:hover{
				opacity: 1;
				@include ts;
			}
		}
	}
}
.bottombar{
	position: relative;
	width: 100%;
	height: 50px;
	border-top:1px solid $border;
	border-bottom: 1px solid $border;
	padding-left: 5px;
	padding-right: 5px;
	display: table;
	@include menubar;
	>span{
		display: table-cell;
		vertical-align: bottom;
	}
	.title-bar{
		width: 100%;
		height: 35px;
		padding-left: 10px;
		position: relative;
		.trail{
			height: 35px;
			width: 10px;
			background-image: url(../images/tabtrail.png);
			background-repeat: no-repeat;
			position: absolute;
			top:0;
			left: 0;
		}
		.title-text{
			width: 100%;
			height: 35px;
			display: inline;
			float: left;
			background-color: #00427e;
			display: table;
			color: #6cc0f4;
			font-size: $fnormal;
			>span{
				display: table-cell;
				vertical-align:middle;
			}
		}
	}
	.systemtime{
		position: absolute;
		right: 15px;
		top:50%;
		margin-top: -6px;
		
	}
}
.systemtime{
	color: $active;
}
.line-top{
	width: 100%;
	border-top:1px solid $border;
	height: 5px;
	display: block;
	clear: both;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	&:before{
		content: "";
		padding-left: 6px;
		padding-top: 5px;
		background-repeat: no-repeat;
		background-image: url(../images/customborder/top-left.png);
	}
	&:after{
		content: "";
		padding-left: 6px;
		padding-top: 5px;
		float: right;
		margin-top: -2.5px;
		background-repeat: no-repeat;
		background-image: url(../images/customborder/top-right.png);
	}
}
.line-bottom{
	width: 100%;
	border-top:1px solid $border;
	height: 5px;
	display: block;
	clear: both;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	&:before{
		content: "";
		padding-left: 6px;
		padding-top: 5px;
		background-repeat: no-repeat;
		background-image: url(../images/customborder/bottom-left.png);
	}
	&:after{
		content: "";
		padding-left: 6px;
		padding-top: 5px;
		float: right;
		margin-top: -2.5px;
		background-repeat: no-repeat;
		background-image: url(../images/customborder/bottom-right.png);
	}
}
.content-area{
	position: absolute;
	left: 0;
	top:50px;
	width: 100%;
	height: 87%;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	
}
.content-frame{
	overflow: hidden;
	height: 85%;
	/* margin-top: 10px; */
	/* margin-bottom: 10px; */
	position: relative;
	.table-list{
		position: absolute;
		width: 102%;
		height: 100%;
		padding-right: 15px;
		padding-left: 15px;
		overflow: auto;
	}
}
.status-tb{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	tr{
		th{
			color: $lightblue;
			font-size: 12px;
			font-weight: normal;
			padding: 5px;
			position: relative;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1c3852+0,1a1a1a+100 */
background: #1c3852; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjMzg1MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYTFhMWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c3852 0%, #1a1a1a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c3852), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c3852 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c3852 0%,#1a1a1a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c3852 0%,#1a1a1a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c3852 0%,#1a1a1a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c3852', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-8 */

			.status-ball{
				position: absolute;
				right: 10px;
				top:50%;
				margin-top: -3.5px;
				width: 7px;
				height: 7px;
				border-radius: 100%;
				background-color: $normal;
			}
		}
		td{
			background-color: $ood;
			color: $lightblue;
			font-size: 12px;
			padding:  3px 10px;
			
		}
		&:nth-child(even){
			td{
				background-color:$even;
			}
		}
	}
	&.abnormal{
		tr{
			th{
				.status-ball{
					background-color: $abnormal;
				}
			}
		}
	}
}
.m-status{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
.log{
	list-style: none;
	li{
		font-size: 11px;
		padding-top: 3px;
		padding-bottom: 3px;
		color: $normal;
		&.abnormal{
			color: white;
			background-color: $abnormal;
		}
	}
}
.floorplan{
	.floorplan-child{
		position: absolute;
		width: 100%;
		height: 100%;
		display:none;
		background-repeat: no-repeat;
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;
		  background-position: left top;
		&.active{
			display: block;
		}
	}
}
.hor-tab{
	position: absolute;
	left: 0;
	bottom: 0;
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			float: left;
			opacity: 0.6;
			margin-left: 3px;
			margin-right: 3px;
			@include ts;
			a{
				position: relative;
				padding-left: 10px;
				display: block;
				text-decoration: none;
				font-size: $fnormal;
				color: $lightblue;
				.btntrail{
					background-image: url(../images/tabtrail.png);
					width: 10px;
					height: 35px;
					position: absolute;
					left: 0;
					top:0;
				}
				.menutext{
					width: 100%;
					line-height: 35px;
					background-color: #00427e;
					padding-right: 20px;
					.status{
						width: 7px;
						height: 7px;
						border-radius: 100%;
						background-color: $normal;
						position: absolute;
						right: 10px;
						top:50%;
						margin-top: -3.5px;
					}
				}
			}
			&:hover{
				opacity: 1;
				@include ts;
			}
			&.active{
				opacity: 1;
			}
		}
	}
}
.status-all{
	.status-child{
		position: absolute;
		width: 100%;
		height: 100%;
		display: none;
		&.active{
			display: block;
		}
	}
}
.graph-row{
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: right;
	.graph-child{
		display: inline-block;
		
		position: relative;
		width: auto;
		height: 100%;
		padding-right: 5px;
		padding-left: 5px;
		border-right: 1px solid $border;
		&:last-child{border-right: none;}
		.pivot-name{
			text-align: center;
			font-size: 12px;
			color: $lightblue;
			display: block;
			margin-bottom: 3px;
			padding-left: 20px;
		}
		.graph-body{
			position: relative;
			bottom: 0;
			height: 85%;
			display: inline;
			float: left;
			text-align: center;
			color: $lightblue;
			font-size: 9px;
			padding-left: 1px;
			padding-right: 1px;
			
			&.hasscale{
				padding-left: 15px;
				&.smallscale{
					padding-left: 12px;
				}
				&.bigscale{
					padding-left:34px;
				}
			}
			.graph-frame{
				position: relative;
				margin: auto;
				height: 80%;
				width: 10px;
				margin-bottom: 3px;
				border:1px solid $lightblue;
				.graph-amount{
					position: absolute;
					width: 100%;
					left: 0;
					bottom: 0;
					overflow: hidden;
					height: 30%;//remove this before test
					
				}
				.scale{
					position: absolute;
					right: 9px;
					top:0;
					height: 100%;
					div{
						&.unit{
							font-size: 10px;
							position: absolute;
							top:-18px;
							right: 0;
							text-align: right;
							padding-right: 10px;
						}
						&.scale-grid{
							min-width: 8px;
							text-align: right;
							background-image: url(../images/scaleline.jpg);
							background-position: right top;
							background-repeat: no-repeat;
							height: 20%;
							line-height: 100%;
							font-size: 9px;
							position: relative;
							span{
								position: absolute;
								top:0;
								margin-top: -4px;
								right: 10px;
							}
						}
						
					}
				}
			}
			.amount{
				font-size: 11px;
				color: $normal;
				&.abnormal{
					color: $abnormal;
				}
			}
			&.abnormal{
				.amount{
					color: $abnormal;
				}
			}
			&.temp{
				.graph-frame{
					.scale{
						div{
							&.scale-grid{
								height: 25%;
							}
						}
					}
				}
			}
			
			&.lox{
				.graph-amount{
					background-color: $lox;
				}
			}
			&.o2{
				.graph-amount{
					background-color: $lox;
				}
			}
			&.nos{
				.graph-amount{
					background-color: $nos;
				}
			}
			&.co2{
				.graph-amount{
					background-color: $co2;
				}
			}
			&.sur{
				.graph-amount{
					background-color: $sur;
				}
			}
			&.med{
				.graph-amount{
					background-color: $med;
				}
			}
			&.vac{
				.graph-amount{
					background-color: $vac;
				}
			}
			&.evac{
				.graph-amount{
					background-color: $vac;
				}
			}
			
			
		}
		
	}
	.rate{
		position: absolute;
		width: 100%;
		height: 68%;
		top:23%;
		>div{
			position: absolute;
			width: 100%;
			text-align: left;
			font-size: 11px;
			color: $lightblue;
			padding-top: 2px;
			padding-left: 2px;
			&.height{
				top:0;
				height: 22.7%;	
				background-color: #551d1d;
			}
			&.normal{
				top:22.7%;
				height: 37.3%;
				background-color: #334626;
			}
			&.low{
				top:60%;
				height: 40%;
				background-color: #551d1d;
			}
		}
	}
}
.tempgraph{
	padding-left: 5% !important;
	padding-right: 5% !important;
	.pivot-name{
		padding-left: 0;
	}
	.tempscale{
		width:100%;
		position: absolute;
		left: 0;
		bottom: 0;
		>div{
			position: absolute;
			width: 100%;
			&.height{background-color:#ff0000; height: 25%;top:0;}
			&.normal{background-color:#ffff00;height: 50%;top:25%;}
			&.low{background-color:#00ff00; height: 25%; top:75%;}
		}
	}
}
.hour{
	.graph-row{
		.graph-child{
			width: 24%;
			.pivot-name{
				padding: 0;
			}
		}
	}
	.status-tb{
		border-collapse: collapse;
		border:none;
		margin-top: 0;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		tr{
			td{
				background-color:$even;
				color: $lightblue;
				font-size: 11px;
				padding:  1px 10px;
				vertical-align: top;
				height: 32px;
				position: relative;
				&:first-child{
					padding-right: 15px;
				}
				.status{
					width: 7px;
					height: 7px;
					border-radius: 100%;
					background-color: $nonactive;
					right: 0px;
					top:15%;
					position: absolute;
				}
				ul{
					list-style: none;
					display: block;
					width: 100%;
					color: white;
					margin: 0;
					padding: 0;
				}
				&.active{
					.status{
						background-color: $active;
					}
				}
			}
			&:nth-child(even){
				td{
					background-color:$ood;
				}
			}
		}
	}
	.pump-sw{
		text-align: center;
		font-size: 10px;
		color: $lightblue;
		span{
			&.active{
				color: white;
			}
		}
	}
}
.gasflow{
	.graph-row{
		.graph-child{
			padding-left: 1%;
			padding-right: 1%;
			.pivot-name{padding-left: 0;}
			&.first-box{}
			&.second-box{}
			&.third-box{}
		}	
	}
}
.tank{
	display: inline;
	float: left;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
	.remaining-box{
		background-color: #00427e;
		padding: 3px 5px;
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				width: 100%;
				text-align: center;
				font-size: 9px;
				color: white;
			}
		}
	}
	.tankname{
		text-align: center;
		color: white;
		font-size: 11px;
		width: 100%;
		display: block;
	}
	.tankgraph{
		display: inline-block;
		clear: both;
	}
	.remaining{
		font-size: 12px;
		color: $normal;
		display: block;
		clear: both;
	}
	.remaining-text{
		text-align: center;
		color: $normal;
		font-size: 20px;
		font-family: 'digital-7_italicitalic';
		line-height: 20px;
	}
}
.tb-gas{
	border-collapse: separate;
	border-spacing: 3px;
	tr{
		td{
			color: white;
			font-size: 11px;
			border-width:2px;
			vertical-align: middle;
			table{
				width: 100%;
				border-collapse: separate;
				border-spacing: 1px;
			}
		}
	}
	.num{
		border:1px solid $lightblue;
		vertical-align: middle;
		text-align: center;
		color: $normal;
		padding-left: 5px;
		padding-right: 5px;
		&.led{
			font-family: 'digital-7_italicitalic';
			font-size: 25px;
			text-align: right;
		}
	}
}
.report-panel{
	z-index: 10;
	position: fixed;
	top:0;
	background-color:#1a1a2a;
	height: 100%;
	width: 92%;
	border-right: 1px solid $border;
	//left:0;
	right: 100%;
	.report-btn{
		position: absolute;
		right: -35px;
		top:15%;
	}
	.report-frame{
		position: absolute;
		left: 0;
		top:0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.report-scroll{
			position: absolute;
			width: 102%;
			height: 100%;
			overflow: auto;
			padding-bottom: 100px;
		}
	}
	.report-title{
		width: 100%;
		border-bottom:3px solid $reportborder;
		background-color: #2594e9;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
		h1{
			margin: 0;
			font-size: 20px;
			font-weight: bold;
			font-style: italic;
			color: white;
		}
	}
	.report-control{
		border-bottom: 3px solid $reportborder;
		background-color: #9ecdff;//change again
		@include clear;
		.form-group{
			padding-top: 10px;
			padding-bottom: 10x;
			display: inline;
			float: left;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	.report-body{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.report-ref{
		text-align: right;
		padding-left: 15px;
		padding-right: 15px;
		background-color:#0071bc;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 16px;
		color: white;
		margin-top: 5px;
		margin-bottom: 5px;
		span{
			color: #6ebeff;
			font-size: 14px;
		}
	}
	.table-frame{
		padding: 10px;
		border:1px solid $border;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}
.report-tb{
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;
	tr{
		th{
			color: $lightblue;
			font-size: 12px;
			font-weight: normal;
			padding: 5px;
			position: relative;
			background-color: #0071bc;
			text-align: center;
			color: white;
		}
		td{
			background-color: $ood;
			color:white;
			font-size: 12px;
			padding-left: 2px;
			padding-right: 2px;
			padding-top: 5px;
			padding-bottom: 5px;
			vertical-align: center;
			text-align: center;
			&.gab{
				background-color: #b3b3b3 !important;
				height: 5px;
			}
		}
		&:nth-child(even){
			td{
				background-color:$even;
			}
		}
	}
	&.abnormal{
		tr{
			th{
				.status-ball{
					background-color: $abnormal;
				}
			}
		}
	}
}
.title-tb{
	background-color: #b3b3b3 !important;
	margin: 0;
	padding: 5px 10px;
	text-align: center;
	color: #1a1a1a;
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.testbtn{
	width: 65px;
	height: 65px;
	border-radius: 100%;
	display: block;
	position: absolute;
	bottom:15px;
	left: 50%;
	margin-left: -32.5px;
	background-image: url(../images/testbtn.png);
	background-position: 0 0;
	&:hover{
		background-position: 0 65px;
	}
}
.login{
	background-image: url(../images/homebg.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;	
}
.login-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	display: table;
	>span{
		padding-left: 80px;
		padding-right: 80px;
		display: table-cell;
		vertical-align: middle;
	}
}
.login-img{
	display: inline;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 60px;
}
.login-panel{
	display: inline;
	float: right;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	width: 347px;
	height: 386px;
	.form{
		position: absolute;
		width: 90%;
		height: 90%;
		left: 30px;
		top:20px;
		table{
			width: 90%;
			margin: auto;
			margin-top: 15px;
			tr{
				th{
					font-style: italic;
					font-weight: bold;
					font-size: 20px;
					color: $lightblue;
					text-align: center;
					padding-bottom: 20px;
				}
				td{
					text-align: center;
					padding-top: 15px;
					padding-bottom: 15px;
					input[type="text"],input[type="password"]{
						background-color: #cccccc;
						font-size: 12px;
					}
				}
			}
		}
		button{
			background:none;
			border:none;
		}
	}
}